body
{
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'メイリオ', Meiryo, Arial, Roboto, 'Droid Sans', sans-serif;
}


.container
{
	margin: 0 auto;
	width: 950px;
	text-align: center;
}
 
h1
{
	padding-top: 67px;	
}

h2
{
	margin-top: 60px;	
	padding-top: 20px;
	font-family: Arial;
	font-size: 16px;
}

.menu
{
	list-style: none;
	margin-top: 65px;
	font-family: Arial;
	font-weight: bold;
	font-size: 0;
	text-align: center;
}

.menu li
{
	display: inline-block;
	width: 25%;
	font-size: 14px;
}

.menu a
{
	text-decoration: none;
	color: #000;
	transition: 0.2s ease-in-out;
}

.menu a:hover
{
	color: #0099cc;
}

.menu a::before
{
	content: '';
	position: absolute;
	display: block;
	margin-top: 20px;
	width: 30px;
	height: 2px;
	background-color: #d3d3d3;
	transition: 0.2s ease-in-out;
}

.menu a:hover::before
{
	width: 60px;
}

.main_visual
{
	margin-top: 50px;
	vertical-align: top;
}


.info
{
	display: inline-block;
	margin-top: 55px;
	list-style: none;
}

.info li
{
	margin-bottom: 15px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 14px;
}

.info li:last-child
{
	border: 0;
	margin: 0;
	padding: 0;
}

.info span
{
	display: inline-block;
	width: 120px;
}

.concept
{
	position: relative;
	margin-top: 40px;
	text-align: left;
}

.concept div
{
	top: 0;
	position: absolute;
}

.concept1 div
{
	left: 315px;
}

.concept2 div
{
	left: 315px;
}

.concept3 div
{
	left: 315px;
}

.concept a
{
	position: absolute;
	top: 0;
	right: 0;
}

.concept strong
{
	font-size: 26px;
	line-height: 38px;
}

.concept p
{
	margin-top: 20px;
	font-size: 14px;
	line-height: 28px;
}

.concept1
{
	height: 340px;
}

.concept2
{
	height: 440px;
}

.concept3
{
	height: 340px;
}

.box
{
	position: relative;
	height: 350px;
	border-radius:10px;
	margin: 40px;
	border: solid 2px #848181;
	text-align: left;
	padding: 20px;
}

.box p
{
	line-height: 38px;
	position: absolute;
	left: 335px;
	top: 0;
	margin: 20px;
}

.last
{
	margin-top: 50px;
}

.last p
{
	font-size: 36px;
}